
body {
    margin: 0;
    color: whitesmoke;
    font-weight:400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
  .content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size:cover;
  }

  .header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-left: 3%;
    padding-top: 1%;
  }

  .searchInput {
    padding: 5px;
    width: 450px;
    background: none;
    color: whitesmoke;
    border-width: 0 0 3px 0;
    border-color: whitesmoke;
  }

  ::placeholder {
    color: whitesmoke;
  }

  .searchButton {
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 3px;
    color: rgb(95, 92, 92);
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.536);
  }

  .tempUnitButton {
    align-self: flex-start;
    margin: 2%;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: rgb(95, 92, 92);
    font-weight: bold;
    font-size:x-large;
    background-color: rgba(245, 245, 245, 0.536);
  }

  .currentWeather {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 20%;
    padding-bottom: 15%;
  }

  .locationDiv {
    display: flex;
    gap: 4px;
    }

    .locationDiv > div {
      font-size:larger;
    }

    .tempDiv {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .tempDiv > img {
      height: 40%;
      width: 40%;
    }

    .tempDiv > * {
      font-size: 30px;
    }

  .dayForecast {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding-bottom: 4%;
    
  }

  .dayForecast > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }